.btn {
  margin-left: 20px;
  width: 90px;
  padding: 5px;
  border-radius: 50px;
  border: 2px solid rgb(250, 225, 114);
  background-color: transparent;
  font-weight: 500;
  color: rgb(7, 58, 28);
}

.btn:hover {
  transform: scale(1.08);
  background-color: rgb(250, 205, 7);
  outline: none;
}
